
<div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#{{duser.id}}" >
               <p><span class="glyphicon glyphicon-user"></span>{{#link-to 'dusers.duser' duser.id}} {{duser.id}} - {{duser.name}} ({{duser.website}}){{/link-to}}</p> 
              </a>
            </h4>
    </div>
    <div id="{{duser.id}}" class="panel-collapse collapse">
      <div class="panel-body">
          {{outlet}}
             
      </div>
    </div>

{{yield}}
